* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #000;
	margin: 10px;
}

.wrapper {
	background-color: #fff;
	height: 800px;
	width: 1000px;
	padding: 10px;
	margin: 0 auto;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.col-33 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	width: 33.33333333%;
	float: left;
}

.gear {
	background-color: #0000cc;
	height: 400px;
}

.title {
	text-align: center;
	background-color: #fff;
	border: 2px solid;
	border-color: #000;
}

.item-select {
	display: block;
	background-color: #8c8c8c;
	width: 40%;
	padding-left: 5px;
	float: left;
}

.item-select:hover {
	background-color: #666;
}

.grade-select {
	display: block;
	background-color: #8c8c8c;
	width: 40%;
	padding-left: 5px;
	float: left;
}

.grade-select:hover {
	background-color: #666;
}

.ilvl-select {
	display: block;
	background-color: #8c8c8c;
	width: 20%;
	padding-left: 5px;
	float: left;	
}

.ilvl-select:hover {
	background-color: #666;
}

a {
	cursor: pointer;
}