body {
	background-color: #000;
}

.wrapper {
	background-color: #fff;
	height: 800px;
	width: 1000px;
	margin: 0 auto;
}

.row {
	background-color: #b3b3b3;
}

.col-33 {
	background-color: #800;
	width: 33.33333333%;
	padding: 2px;
}

.gear {
	background-color: #0000cc;
	height: 400px;
}

.itemname {
	background-color: #fff;
	max-width: 200px;
}